<!DOCTYPE HTML>
<html>
	<head>
		<title>Mythdoor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">Mythdoor</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Login/Signup</a></li>
						<li><a href="index.html">Add New Post</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div id="mask_area">
					<div id="slogan_text">
						<h2>Mythdoor</h2>
						<p>Buy And Sell Securely With Professionals In Your Area</p>
						<ul class="actions">
							<li><a href="#"><button class="btn btn-semi-transparent">How It Works</button></a></li>
						</ul>

						<div id="search_area">
							<div class="div-center">
								<form id="search_form" name="search_form" action="/search/" method="get" class="navbar-form" role="search" autocomplete='off'>
									<input type="text" id="search_query" name='q' placeholder="Search Item Keyword"  class='form-control'/>
					               	<input type='text' id='search_location' placeholder='Location' class='form-control'/>
									<input type='hidden' name='distance_range' value="{{DEFAULT_DISTANCE_RANGE}}"/>
					                <input type='hidden' name='lat' value=''/>
					                <input type='hidden' name='lng' value=''/>
					                <input type='hidden' name='location' value=''/>
									<input type="submit" class="btn btn-default btn-primary btn-submit" id="search_btn" value="Search"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co"></a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>